spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/uploader
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update

  security:
    user:
      name: user
      password: 1234

aws:
  region: us-east-1
  s3:
    bucket: my-image-bucket-lisandrocanteros
  sqs:
    queue-url: https://sqs.us-east-1.amazonaws.com/428497370716/image-upload-events
